<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      DivisApp - 24003541
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<ion-list>
  <ion-item>
    <ion-label position="stacked">
      Cantidad en Quetzales (Q)
    </ion-label>
    <ion-input
      type="number"
      inputmode="decimal"
      [(ngModel)]="qtzQuantity">
    </ion-input>
  </ion-item>
</ion-list>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Equivalente en Dólares (USD)
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      USD {{ qtzToUsdQuantity.toFixed(2)  }}
    </ion-card-content>
  </ion-card>

</ion-content>

<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content> -->

